.form-container {
  // @apply justify-between flex absolute z-20 w-full bg-white border-black border-4 p-4;
  //   background: #ab2a2a;
  display: flex;
  //   max-width: 300px;
  padding: 10%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // &__text-logo {
  //   @apply text-3xl font-bold uppercase;
  // }
}
.form-container input {
  border-top: 3px red;
  border: 2px blue;
  padding: 10px;
}
.form-container button {
  background-color: aqua;
  width: 300px;
}
