// .title {
//   padding-top: 40px;
//   //   color: red;
//   text-align: center;
// }
.sub-title {
  font-size: 2rem;
  margin: 0;
  padding-top: 80px;
  text-align: center;
  color: #ffc452;
}
.sub-title p {
  // margin: 20px 50px;
  text-align: center;
  padding: 10px 30px;
  font-size: 0.4em;
  font-family: "Avenir Next", "Avenir", sans-serif;
  color: #ededed;
}
@media only screen and (max-width: 760px) {
  .sub-title {
    padding-top: 30px;
  }
}
