body {
  @apply antialiased tracking-wider;
  // margin: 0;
  // padding: 0
  // background: #e03c3c;
  // // background: #232323;
  background: #474747;
  // color: #3b3b3b;
  // font-family: "Avenir Next", "Avenir", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  @apply font-lato;
}

p {
  @apply leading-relaxed text-lg;
  // color: #ededed;
}

h1 {
  @apply text-4xl tracking-wider;
}

h2 {
  @apply text-3xl font-bold tracking-widest;
}

h3 {
  @apply text-2xl font-bold tracking-widest;
}

h4 {
  @apply text-lg tracking-wider;
}

h5 {
  @apply text-lg;
}
.title {
  padding-top: 40px;
  // color: red;
}
button {
  @apply tracking-wide;
  background: #ffc452;
  font-weight: 500;
  // transform: rotate(90deg);
}
